# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  pytest:
    name: Run tests with unittest
    runs-on: windows-latest

    steps:
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: "3.9"

    - name: Checkout repo
      uses: actions/checkout@v2
    - run: |
        ls
        cd Image2ppt
        ls
        cd src
        ls
        cd ../test_sr
        ls

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install python-pptx
        
    - name: Run Tests    
      run: python -m unittest Image2ppt/test_src/Image2pptTest.py
    
        
    



 
